In [1]:
# Importing Required Libraries
import pandas as pd
import numpy as np

In [19]:
df1 = pd.read_csv("heart.csv")
df2 = pd.read_csv("o2Saturation.csv")

In [20]:
# Combining both dataframes
df = pd.concat([df1, df2], axis = 1)

In [13]:
# Printing Combined Dataframe
print("Dataframe is:\n")
print(df)

Dataframe is:

       age  sex   cp  trtbps   chol  fbs  restecg  thalachh  exng  oldpeak  \
0     63.0  1.0  3.0   145.0  233.0  1.0      0.0     150.0   0.0      2.3
1     37.0  1.0  2.0   130.0  250.0  0.0      1.0     187.0   0.0      3.5
2     41.0  0.0  1.0   130.0  204.0  0.0      0.0     172.0   0.0      1.4
3     56.0  1.0  1.0   120.0  236.0  0.0      1.0     178.0   0.0      0.8
4     57.0  0.0  0.0   120.0  354.0  0.0      1.0     163.0   1.0      0.6
...    ...  ...  ...     ...    ...  ...      ...       ...   ...      ...
3580   NaN  NaN  NaN     NaN    NaN  NaN      NaN       NaN   NaN      NaN
3581   NaN  NaN  NaN     NaN    NaN  NaN      NaN       NaN   NaN      NaN
3582   NaN  NaN  NaN     NaN    NaN  NaN      NaN       NaN   NaN      NaN
3583   NaN  NaN  NaN     NaN    NaN  NaN      NaN       NaN   NaN      NaN
3584   NaN  NaN  NaN     NaN    NaN  NaN      NaN       NaN   NaN      NaN

      slp  caa  thall  output  98.6
0     0.0  0.0    1.0     1.0  98.6
1     0.0  0.0    2.0     1.0  98.6
2     2.0  0.0    2.0     1.0  98.6
3     2.0  0.0    2.0     1.0  98.1
4     2.0  0.0    2.0     1.0  97.5
...   ...  ...    ...     ...   ...
3580  NaN  NaN    NaN     NaN  98.6
3581  NaN  NaN    NaN     NaN  98.6
3582  NaN  NaN    NaN     NaN  98.6
3583  NaN  NaN    NaN     NaN  98.6
3584  NaN  NaN    NaN     NaN  98.6

[3585 rows x 15 columns]

In [21]:
# Columns of dataframe
print("Columns of Dataframe are:")
print(df.columns)

Columns of Dataframe are:
Index(['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output', '98.6'],
      dtype='object')

In [23]:
# Renaming last column
df.rename(columns = {'98.6' : 'Oxygen Saturation'},inplace = True)
print("\nDataframe after renaming is:\n")
print(df)

Dataframe after renaming is:

       age  sex   cp  trtbps   chol  fbs  restecg  thalachh  exng  oldpeak  \
0     63.0  1.0  3.0   145.0  233.0  1.0      0.0     150.0   0.0      2.3
1     37.0  1.0  2.0   130.0  250.0  0.0      1.0     187.0   0.0      3.5
2     41.0  0.0  1.0   130.0  204.0  0.0      0.0     172.0   0.0      1.4
3     56.0  1.0  1.0   120.0  236.0  0.0      1.0     178.0   0.0      0.8
4     57.0  0.0  0.0   120.0  354.0  0.0      1.0     163.0   1.0      0.6
...    ...  ...  ...     ...    ...  ...      ...       ...   ...      ...
3580   NaN  NaN  NaN     NaN    NaN  NaN      NaN       NaN   NaN      NaN
3581   NaN  NaN  NaN     NaN    NaN  NaN      NaN       NaN   NaN      NaN
3582   NaN  NaN  NaN     NaN    NaN  NaN      NaN       NaN   NaN      NaN
3583   NaN  NaN  NaN     NaN    NaN  NaN      NaN       NaN   NaN      NaN
3584   NaN  NaN  NaN     NaN    NaN  NaN      NaN       NaN   NaN      NaN

      slp  caa  thall  output  Oxygen Saturation
0     0.0  0.0    1.0     1.0               98.6
1     0.0  0.0    2.0     1.0               98.6
2     2.0  0.0    2.0     1.0               98.6
3     2.0  0.0    2.0     1.0               98.1
4     2.0  0.0    2.0     1.0               97.5
...   ...  ...    ...     ...                ...
3580  NaN  NaN    NaN     NaN               98.6
3581  NaN  NaN    NaN     NaN               98.6
3582  NaN  NaN    NaN     NaN               98.6
3583  NaN  NaN    NaN     NaN               98.6
3584  NaN  NaN    NaN     NaN               98.6

[3585 rows x 15 columns]

In [24]:
# Seeing Description of the dataset
print("Description of Dataframe is:\n")
df.describe()

Description of Dataframe is:

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output,Oxygen Saturation
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,3585.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554,98.239275
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835,0.726336
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,96.500000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000,97.600000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000,98.600000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000,98.600000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000,99.600000

In [26]:
# Seeing the shape of dataframe
print("Shape of dataframe is:",df.shape)

Shape of dataframe is: (3585, 15)

In [27]:
# Seeing Count of missing values
print("Missing Value count is: \n")
df.isnull().sum()

Missing Value count is:

age                  3282
sex                  3282
cp                   3282
trtbps               3282
chol                 3282
fbs                  3282
restecg              3282
thalachh             3282
exng                 3282
oldpeak              3282
slp                  3282
caa                  3282
thall                3282
output               3282
Oxygen Saturation       0
dtype: int64

In [28]:
# Since there are many missing values imputing with mean mode or median can lead to not accurate predictions
# Droping missing values
df.dropna(inplace = True)
print("Dataframe after removing missing values is:\n")
print(df)

Dataframe after removing missing values is:

      age  sex   cp  trtbps   chol  fbs  restecg  thalachh  exng  oldpeak  \
0    63.0  1.0  3.0   145.0  233.0  1.0      0.0     150.0   0.0      2.3
1    37.0  1.0  2.0   130.0  250.0  0.0      1.0     187.0   0.0      3.5
2    41.0  0.0  1.0   130.0  204.0  0.0      0.0     172.0   0.0      1.4
3    56.0  1.0  1.0   120.0  236.0  0.0      1.0     178.0   0.0      0.8
4    57.0  0.0  0.0   120.0  354.0  0.0      1.0     163.0   1.0      0.6
..    ...  ...  ...     ...    ...  ...      ...       ...   ...      ...
298  57.0  0.0  0.0   140.0  241.0  0.0      1.0     123.0   1.0      0.2
299  45.0  1.0  3.0   110.0  264.0  0.0      1.0     132.0   0.0      1.2
300  68.0  1.0  0.0   144.0  193.0  1.0      1.0     141.0   0.0      3.4
301  57.0  1.0  0.0   130.0  131.0  0.0      1.0     115.0   1.0      1.2
302  57.0  0.0  1.0   130.0  236.0  0.0      0.0     174.0   0.0      0.0

     slp  caa  thall  output  Oxygen Saturation
0    0.0  0.0    1.0     1.0               98.6
1    0.0  0.0    2.0     1.0               98.6
2    2.0  0.0    2.0     1.0               98.6
3    2.0  0.0    2.0     1.0               98.1
4    2.0  0.0    2.0     1.0               97.5
..   ...  ...    ...     ...                ...
298  1.0  0.0    3.0     0.0               97.5
299  1.0  0.0    3.0     0.0               97.5
300  1.0  2.0    3.0     0.0               97.5
301  1.0  1.0    3.0     0.0               97.5
302  1.0  1.0    2.0     0.0               97.5

[303 rows x 15 columns]

In [29]:
# Let's see the count of output value
print("Number/Count of Less chance of Heart attack and More chance of Heart attack values is:")
df['output'].value_counts()

Number/Count of Less chance of Heart attack and More chance of Heart attack values is:

1.0    165
0.0    138
Name: output, dtype: int64

In [30]:
# Since the values are already balanced we can use this dataset now for out ML Model

In [31]:
# Saving Preprocessed Dataframe as csv file
df.to_csv("Updated_heart_prediction.csv")